@media (min-width: 900px) {
    #register-container {
        --blue-flask-width: 400px;
        --curious-mouse-width: 250px;
    }
}

@media (max-width: 899px) {
    #register-container {
        /*--blue-flask-width: calc(100vw/3 - 10px);*/
        --blue-flask-width: 400px;
        --curious-mouse-width: 250px;
    }
}

html {
    background-color: black;
}

.error-msg {
    color: red;
}

#login-container {
    background-color: black;
    color: white;
    flex: 100%;
    display: flex;
    width: 100vw;
    position: fixed;
    top: 85px;
}

#register-btn {
    color: white;
    position: fixed;
    left: calc(100vw - 105px);
    top: 50px;
    text-decoration: none;
}

#mouse-login-btn {
    width: 120px;
    height: 100px;
    position: fixed;
    left: calc(100vw - 150px);
    top: 9px;
}

#mouse-login-btn img {
    width: 100%;
    height: auto;
}

.feature-item {
    background-color: black;
    color: white;
    display: flex;
    padding: 10px 5px 10px 10px;
    align-items: center;
}

.feature-item h2 {
    margin: 0;
}

.mouse-bullet-point {
    width: 30px;
    height: 100%;
    margin: 0 10px 0 0;
}

.mouse-bullet-point img {
    width: 100%;
    height: 100%;
}

.color-inverted {
    filter: invert(100%);
}

#test-tubes {
    width: 400px;
    height: auto;
    position: absolute;
    left: 56px;
    top: calc(100vh - 430px);
}

#blue-flask {
    width: var(--blue-flask-width);
    height: auto;
    position: fixed;
    left: calc((5/6)*100vw - var(--blue-flask-width)/2);
    top: calc(100vh - 1.17*var(--blue-flask-width));
    filter: invert(100%);
}

#sniffing-mouse {
    width: 300px;
    height: auto;
    position: fixed;
    left: 15px;
    top: calc(100vh - 583px);
    filter: invert(100%);
}

#curious-mouse {
    width: var(--curious-mouse-width);
    height: auto;
    position: fixed;
    left: calc((5/6)*100vw - var(--curious-mouse-width)/2);
    top: calc(100vh - 0.81*var(--curious-mouse-width));
    filter: invert(100%);
    transform: scaleX(-1);
}

/* 
#right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
} */

.form {
    text-align: center
}