.col {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 10px auto;
}

.form {
    width: 300px;
    margin: auto;
}

.form input {
    margin: 10px 0;
    height: 25px;
    padding: 3px;
    border-radius: 5px;
}

body {
    background-color: black
}
